body {
    font-family: Arial, sans-serif;
    background-color: #b3b3b3;
    margin: 0;
    padding: 20px;
}


h1 {
    text-align: center;
    color: #000000;
}

p, ul {
    font-size: 20px;
    text-align: center;
    color: #000000;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

input[type="text"], input[type="emailadress"], select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #b62828;
    border-radius: 5px;
}

.radio-group {
    display: flex;
    align-items: center;
}

.buttons {
    margin-top: 15px;
    display: flex;
}

button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"] {
    color: white;
}

button[type="reset"] {
    color: white;
}
